.mlext-container {
  margin-bottom: 14px;
  color: rgba(0, 0, 0, 0.7);
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-top: solid;
  border-width: 2px;
  border-color: hsl(113, 89%, 48%);
  border-radius: 8px;
}

.mlext-container li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  gap: 8px;
  margin: 6px 0px;
}

.mlext-container li > strong {
  font-weight: 600;
}

.mlext-badge {
  padding: 2px 4px;
  background-color: #fff;
  color: hsl(113, 89%, 48%);
  font-weight: bold;
  font-size: 12px;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  border-color: hsl(113, 89%, 48%);
  cursor: pointer;
  white-space: nowrap;
}

.mlext-badge:hover {
  background-color: hsl(113, 89%, 48%);
  color: #fff;
}

.mlext-badge--success {
  color: hsl(113, 89%, 32%);
  border-color: hsl(113, 89%, 32%);
}

.mlext-badge--success:hover {
  background-color: hsl(113, 89%, 32%);
}

.mlext-badge--warning {
  color: hsl(38, 92%, 40%);
  border-color: hsl(38, 92%, 40%);
}

.mlext-badge--warning:hover {
  background-color: hsl(38, 92%, 40%);
}

.mlext-badge--error {
  color: hsl(0, 72%, 45%);
  border-color: hsl(0, 72%, 45%);
}

.mlext-badge--error:hover {
  background-color: hsl(0, 72%, 45%);
}
